/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,300,400);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,300,700);

html, body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 18px;
  height: 100%;
  width: 100%;
  color: #34495e;
  background-color: #fff;
}

.pad-section {
  padding: 50px 0;
}

.pad-section img {
  width: 100%;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 3.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
#home {
 background: url(https://s3-us-west-1.amazonaws.com/theveteranproject/bg_background.png) no-repeat center center fixed;
 display: table;
 height: 85%;
 position: relative;
 width: 100%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
}
#home {
  color: whitesmoke;
}

#services {
  background-color: #306d9f;
  color: #ffffff;
}

#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

#information .panel{
  opacity: 0.85;
}

footer {
  padding: 0 0 10px 0;
}

footer .glyphicon {
  color: #333333;
  font-size: 60px;
}

footer .glyphicon:hover {
  color: #306d9f;
}

.navbar {
  margin: 0;
}


.jobdivide {
  margin-top: 50px;
  border-top-style: dotted;
  padding-top: 30px;
}

.skill1divide {
  border-right-style: dotted;
}
.skill2divide {
  border-left-style: dotted;
}

.user-show {
  padding: 50px 0;
}

.profile_pic {
  width: 250px;
  height: 250px;
}
.bg2 {
  // background-image: url(https://s3-us-west-1.amazonaws.com/theveteranproject/bg_background.png);
         background-repeat: no-repeat;
        background-position: 0% bottom;
        background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;        
        background-color: #2f4154;
        height: 500px;
}